<a href="https://colab.research.google.com/github/brunomoraisnc/hackathon-ze-gotinha-geospatial-data-preparation/blob/master/hackathon_ze_gotinha_geospatial_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
municipios_br = pd.read_csv('https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv')
# municipios_br = pd.read_excel('AR_BR_RG_UF_MES_MIC_MUN_2018.xls')

In [0]:
municipios_br.head()

   codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2      5200100            Abadiânia -16.19700   -48.7057        0         52
3      3100203               Abaeté -19.15510   -45.4444        0         31
4      1500107           Abaetetuba  -1.72183   -48.8788        0         15

In [0]:
gripe_2014 = pd.read_csv('REL_21_06_2019_12_05_10.csv', encoding='iso-8859-1', header=2, sep=';')
gripe_2014.head()

   Unnamed: 0 Unnamed: 1 Unnamed: 2  ...  Nº vac..6 Cob..6  Unnamed: 28
0           1      NORTE         AC  ...      2.231  76,64          NaN
1           1      NORTE         AC  ...      3.804  82,73          NaN
2           1      NORTE         AC  ...      1.647  56,04          NaN
3           1      NORTE         AC  ...      2.649  80,13          NaN
4           1      NORTE         AC  ...      1.959  80,78          NaN

[5 rows x 29 columns]

In [0]:
gripe_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Data columns (total 29 columns):
Unnamed: 0     5565 non-null int64
Unnamed: 1     5565 non-null object
Unnamed: 2     5565 non-null object
Unnamed: 3     5565 non-null int64
Unnamed: 4     5565 non-null object
Unnamed: 5     5565 non-null int64
Unnamed: 6     5565 non-null object
POP            5565 non-null float64
Nº vac.        5565 non-null float64
Cob.           5565 non-null object
POP.1          5565 non-null float64
Nº vac..1      5565 non-null float64
Cob..1         5557 non-null object
POP.2          5565 non-null float64
Nº vac..2      5565 non-null float64
Cob..2         5565 non-null object
POP.3          5565 non-null float64
Nº vac..3      5565 non-null float64
Cob..3         5565 non-null object
POP.4          5565 non-null float64
Nº vac..4      5565 non-null float64
Cob..4         427 non-null object
POP.5          5565 non-null object
Nº vac..5      5565 non-null object
Cob..5         5565 non-null object
POP.6          5565 non-null object
Nº vac..6      5565 non-null object
Cob..6         5565 non-null object
Unnamed: 28    0 non-null float64
dtypes: float64(11), int64(3), object(15)
memory usage: 1.2+ MB

In [0]:
municipios_br.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
codigo_ibge    5570 non-null int64
nome           5570 non-null object
latitude       5570 non-null float64
longitude      5570 non-null float64
capital        5570 non-null int64
codigo_uf      5570 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 261.2+ KB

In [0]:
# gripe_2019[gripe_2019['Unnamed: 6'].str.upper().isin(municipios_br['nome'].str.upper())].info()
gripe_2014 = gripe_2014[gripe_2014['Unnamed: 6'].str.upper().isin(municipios_br['nome'].str.upper())]

In [0]:
gripe_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3167 entries, 0 to 5564
Data columns (total 29 columns):
Unnamed: 0     3167 non-null int64
Unnamed: 1     3167 non-null object
Unnamed: 2     3167 non-null object
Unnamed: 3     3167 non-null int64
Unnamed: 4     3167 non-null object
Unnamed: 5     3167 non-null int64
Unnamed: 6     3167 non-null object
POP            3167 non-null float64
Nº vac.        3167 non-null float64
Cob.           3167 non-null object
POP.1          3167 non-null float64
Nº vac..1      3167 non-null float64
Cob..1         3164 non-null object
POP.2          3167 non-null float64
Nº vac..2      3167 non-null float64
Cob..2         3167 non-null object
POP.3          3167 non-null float64
Nº vac..3      3167 non-null float64
Cob..3         3167 non-null object
POP.4          3167 non-null float64
Nº vac..4      3167 non-null float64
Cob..4         238 non-null object
POP.5          3167 non-null object
Nº vac..5      3167 non-null object
Cob..5         3167 non-null object
POP.6          3167 non-null object
Nº vac..6      3167 non-null object
Cob..6         3167 non-null object
Unnamed: 28    0 non-null float64
dtypes: float64(11), int64(3), object(15)
memory usage: 742.3+ KB

In [0]:
gripe_2014 = gripe_2014[['Unnamed: 6', 'POP', 'Nº vac.', 'Cob.']]
gripe_2014.columns = ['nome_municipio', 'populacao', 'n_vacinados', 'cobertura']
gripe_2014.head()

  nome_municipio  populacao  n_vacinados cobertura
0   ASSIS BRASIL    798.000       658.00     82,46
3         XAPURI      1.477         1.07     72,44
5         BUJARI    832.000       819.00     98,44
6       CAPIXABA    884.000       634.00     71,72
8  MANOEL URBANO      1.009       800.00     79,29

In [0]:
municipios_br = municipios_br.rename({'nome': 'nome_municipio'}, axis=1)

In [0]:
municipios_br.columns

Index(['codigo_ibge', 'nome_municipio', 'latitude', 'longitude', 'capital',
       'codigo_uf'],
      dtype='object')

In [0]:
municipios_br = municipios_br.iloc[:,:4]
municipios_br['nome_municipio'] = municipios_br['nome_municipio'].str.upper()
municipios_br.head()

   codigo_ibge       nome_municipio  latitude  longitude
0      5200050      ABADIA DE GOIÁS -16.75730   -49.4412
1      3100104  ABADIA DOS DOURADOS -18.48310   -47.3916
2      5200100            ABADIÂNIA -16.19700   -48.7057
3      3100203               ABAETÉ -19.15510   -45.4444
4      1500107           ABAETETUBA  -1.72183   -48.8788

In [0]:
gripe_2014_municipio = pd.merge(gripe_2014, municipios_br, on='nome_municipio')
gripe_2014_municipio.head()

  nome_municipio  populacao  n_vacinados  ... codigo_ibge  latitude  longitude
0   ASSIS BRASIL    798.000       658.00  ...     1200054 -10.92980   -69.5738
1         XAPURI      1.477         1.07  ...     1200708 -10.65160   -68.4969
2         BUJARI    832.000       819.00  ...     1200138  -9.81528   -67.9550
3       CAPIXABA    884.000       634.00  ...     1200179 -10.56600   -67.6860
4  MANOEL URBANO      1.009       800.00  ...     1200344  -8.83291   -69.2679

[5 rows x 8 columns]

In [0]:
gripe_2014_municipio['cobertura'] = pd.to_numeric(gripe_2014_municipio['cobertura'].str.replace(',','.'))

In [0]:
gripe_2014_municipio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3167 entries, 0 to 5564
Data columns (total 5 columns):
nome_municipio    3167 non-null object
populacao         3167 non-null float64
n_vacinados       3167 non-null float64
cobertura         3167 non-null float64
lat               3167 non-null float64
dtypes: float64(4), object(1)
memory usage: 148.5+ KB

In [0]:
gripe_2014

In [0]:
gripe_2014.head()

  nome_municipio  populacao  n_vacinados  cobertura       lat
0   ASSIS BRASIL    798.000       658.00      82.46 -16.75730
3         XAPURI      1.477         1.07      72.44 -19.15510
5         BUJARI    832.000       819.00      98.44  -7.34588
6       CAPIXABA    884.000       634.00      71.72 -13.24880
8  MANOEL URBANO      1.009       800.00      79.29 -23.30490

In [0]:
gripe_2014_municipio['gmaps_lat'] = gripe_2014_municipio['latitude'].apply(lambda x: 'new google.maps.LatLng({lat}'.format(lat=x))
gripe_2014_municipio['gmaps_long'] = gripe_2014_municipio['longitude'].apply(lambda x: ', {long}),'.format(long=x))
gripe_2014_municipio['gmaps'] = gripe_2014_municipio['gmaps_lat'] + gripe_2014_municipio['gmaps_long']
# gripe_2014['gmaps_long'] = apply(lambda x: ', {long})'.format(long=x))

In [0]:
gripe_2014_municipio.head()

  nome_municipio  ...                                              gmaps
0   ASSIS BRASIL  ...        new google.maps.LatLng(-10.9298, -69.5738),
1         XAPURI  ...        new google.maps.LatLng(-10.6516, -68.4969),
2         BUJARI  ...         new google.maps.LatLng(-9.81528, -67.955),
3       CAPIXABA  ...  new google.maps.LatLng(-10.565999999999999, -6...
4  MANOEL URBANO  ...        new google.maps.LatLng(-8.83291, -69.2679),

[5 rows x 11 columns]

In [0]:
gripe_2014_municipio.gmaps.to_csv('teste.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [0]:
gripe_2014_municipio.gmaps.to_csv('teste3.csv', sep=' ', index=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [0]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

In [0]:
gripe_2014_municipio[gripe_2014_municipio['cobertura'] < 90]['gmaps'].to_csv('dados_gripe_2014_final.csv', sep=' ', index=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.